body {
	margin: 0;
	font: 10px sans-serif;
	overflow-x: hidden;
}
#chart-area {
	margin: 2rem auto;
	position: relative;
	/* text-transform: lowercase; */
	/* text-transform: capitalize; */
}
svg {
	border: 1px solid #cdcdcd;
}

.node {
	box-sizing: border-box;
	position: absolute;
	overflow: hidden;
}
.text-div {
	overflow: hidden;
	white-space: pre-wrap;
}
