body {
	margin: 0;
	font: 10px sans-serif;
	overflow-x: hidden;
}

.container {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}
#chart-area {
	position: relative;
}
svg {
	border: 1px solid #cdcdcd;
}

.node {
	box-sizing: border-box;
	position: absolute;
	overflow: hidden;
}
.text-div {
	/* border: 1px solid blue; */
	overflow: hidden;
	white-space: pre-wrap;
	/* padding-left: 0.5rem; */
}
